.shopcategory-banner {
    width: 100%;
}
.shopcategory-indexSort {
    display: flex;
    margin: 80px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 80px;
    border: 1px solid #888;
    cursor: pointer;
}
.shopcategory-indexSort p span {
    font-weight: 700;
}
.shopcategory-products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.shopcategory-products .item {
    width: 300px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.shopcategory-products img {
    width: 250px;
}
.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: purple;
    color: white;
    font-weight: 700;
}
@media (max-width: 700px) {
    .shopcategory-products .item {
        width: 180px;
    }
    .shopcategory-products img {
        width: 150px;
    }
    .shopcategory-indexSort {
        margin: 80px 20px;
    }
    .shopcategory-sort {
        padding: 5px 5px;
    }
    .shopcategory-loadmore {
        width: 100px;
        font-size: 12px;
        height: 40px;
    }
}
@media (max-width: 950px) {
    .shopcategory-products {
        grid-template-columns: 2fr 2fr ;
    }
}
